.terraform/
.vagrant/
*.log
*tfstate*
*.qcow2*
*account.json*
*.retry
hosts
venv/


target/

# These are the main pages for antidote-web, and are generated at build time,
# so we don't want these committed to the repo. See the templates/ directory instead.
src/index.html
src/advisor/
src/catalog/
src/labs/
src/stats/
src/collections/

# Web app node resources
src/node_modules/
src/js/bundles/
src/package-lock.json