<footer>
  <ul class="nav-list pages">
    {% include 'partials/main-menu-items.html' %}
  </ul>

  <ul class="nav-list social">
    <li>
      <a href="https://discuss.nrelabs.io/" title="Forums">Forums</a>
    </li>

    <li>
      <a href="https://twitter.com/nrelabs" title="Twitter">Twitter</a>
    </li>

    <li>
      <a href="https://github.com/nre-learning" title="GitHub">GitHub</a>
    </li>

    <li>
      <a href="https://www.youtube.com/channel/UCbfZq3sDGx6gmv7KRrhRh4g" title="YouTube">YouTube</a>
    </li>
  </ul>

  <aside class="small copyright-info">
    Built by the NRE Learning Team <br/>
    The Antidote Project is published under Apache v2 <br/>
    Your use of this site is governed by the <a href="https://github.com/nre-learning/proposals/blob/master/NRE_LABS_ToU_20191024.pdf" target="_blank">Terms of Use.</a> <br/>
  </aside>
</footer>
<antidote-ptr-banner></antidote-ptr-banner>
<antidote-warn-mobile></antidote-warn-mobile>
