<div class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a href="/" class="navbar-brand" style="max-width: 50%;">
            <img src="/images/nrelabs_long.png" style="max-height: 37px;max-width: 100%;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarResponsive" style="">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle btn btn-secondary" data-toggle="dropdown" href="#" style="font-weight: bold;" id="download">Navigation <span class="caret"></span></a>
                    <div class="dropdown-menu" aria-labelledby="download">
                        <a class="dropdown-item" href="/advisor/index.html">Lesson Catalog</a>
                        <a class="dropdown-item" href="/advisor/index.html">Advisor</a>
                        <a class="dropdown-item" href="/collections/index.html">Collections</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" target="_blank" href="http://antidoteproject.readthedocs.io">Documentation</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://twitter.com/NRELabs">
                        <i title="Follow on Twitter!" style="font-size: 24px;" class="fab fa-twitter-square">
                        </i>
                        <p class="antidote-link">Twitter</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://github.com/nre-learning">
                        <i title="Check us out on Github!" style="font-size: 24px;" class="fab fa-github-square">
                        </i>
                        <p class="antidote-link">Github</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://community.networkreliability.engineering/">
                        <i title="Visit the community support forums!" style="font-size: 24px;" class="fab fa-discourse">
                        </i>
                        <p class="antidote-link">Support Forums</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://networkreliability.engineering/live/">
                        <i title="Weekly NRE Live Stream" style="font-size: 24px;" class="fas fa-tv">
                        </i>
                        <p class="antidote-link">NRE Live</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>


