<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'partials/header.html' %}
    <script>
        // Initialize all tooltips
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    <script type="text/javascript" src="/guacamole-common-js/all.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.6/showdown.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            renderLessonCategories()

            ////////////////////////////

            var myNode = document.getElementById("tabHeaders");
            while (myNode.firstChild) {
                myNode.removeChild(myNode.firstChild);
            }

            var myNode = document.getElementById("myTabContent");
            while (myNode.firstChild) {
                myNode.removeChild(myNode.firstChild);
            }

            var fakeEndpoints = {
                "LessonUUID":"12-97so512xqz33xv0p",
                "LessonId":12,
                "LiveEndpoints":{
                    "linux1":{"Name":"linux1","Type":"UTILITY","Host":"10.12.0.135","Port":2222,"Reachable":true},
                },
                "LessonStage":1,
                "LabGuide":"# Sample Lab Guide\n Foobar.\n\n```\nuname -a\n```\n\u003cbutton type=\"button\" class=\"btn btn-primary btn-sm\" onclick=\"runSnippetInTab('linux1', 3)\"\u003eRun this snippet\u003c/button\u003e\n\n",
                "LiveLessonStatus":"READY"
            }
            addTabs(fakeEndpoints.LiveEndpoints)

            ///////////////////////////

            if (getLessonId() != 0) {
                if (isMobile() == true) {
                    alert("WARNING - NRE Labs doesn't yet support mobile. You can continue, but it likely won't work. Mobile support coming soon!")
                }

                // provisionLesson();
            }

            $('#videoModal').on('show.bs.modal', function () {
                $("#videoModal iframe").attr("src", "https://www.youtube.com/embed/YhbWBX71yGQ?autoplay=1&rel=0");
            });

            $("#videoModal").on('hidden.bs.modal', function (e) {
                $("#videoModal iframe").attr("src", null);
            });

            $("#lessonVideoModal").on('hidden.bs.modal', function (e) {
                // Just reset the `src` attribute, which will "un-play" the video
                $("#lessonVideoModal iframe").attr("src", document.getElementById("lessonVideoIframe"));
            });
        });
    </script>
</head>

<body>
    {% include 'partials/navbar.html' %}

    <div style="padding: 10px;">
        <div style="width: 40%; float: left;">
            <select onchange="stageChange()" style="width: 60%; float: left;margin-right:10px" class="form-control" id="lessonStagesDropdown">
            </select>
        </div>
        <div style="width: 60%; float: right;">
            <div style="float:right;">
                <button type="button" class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="left"
                    data-original-title="NRE Labs is in early alpha status. Please bear with us as we continue working to make it awesome.">Tech
                    Preview</button>
            </div>
            <div style="float:left;">

                <button id="btnOpenLessonDiagram" data-toggle="modal" data-target="#lessonDiagramModal" type="button"
                    class="btn btn-info" disabled=true>
                    No Lesson Diagram</button>
                <button id="btnOpenLessonVideo" data-toggle="modal" data-target="#lessonVideoModal" type="button" class="btn btn-info"
                    disabled=true>
                    No Lesson Video
                </button>
                <button onclick="copy()" type="button" class="btn btn-primary btn-sm">Copy</button>
                <button onclick="paste()" type="button" class="btn btn-primary btn-sm">Paste</button>
                <button id="objectiveBtn" type="button" class="btn btn-secondary btn-sm" data-toggle="tooltip"
                    data-placement="bottom" data-original-title="This lesson has no explicit objective to accomplish. Just follow the lab guide!"
                    style="display: none;">Objective</button>
                <button id="verifyBtn" onclick="verify()" type="button" class="btn btn-primary btn-sm" style="display: none;">Verify</button>
                <p style="margin: 8px;float: right;" id="verifyMsg"></p>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="busyModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="busyModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="busyModalLabel">Please wait...</h5>
                </div>
                <img class="modal-image" src="/images/flask.gif" style="max-width: 150px;">
                <div id="modal-body" class="modal-body">
                    Please wait...
                </div>
                <div class="progress" style="width: 90%; margin: 0 auto;">
                    <div id="liveLessonProgress" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                </div>
                <div class="modal-body">
                    <p id="lessonStatus" style="font-size: 12px;">
                        Starting your lesson!
                    </p>
                </div>
                <div class="modal-footer">
                    <div id="modal-body" class="modal-body" style="color: red;">Note that some lessons take a few
                        minutes to initially start. Please be patient, we're doing some pretty crazy stuff back here
                        (/me tears a strip of duct tape).</div>
                </div>
            </div>
        </div>
    </div>

    <div id="lessonDiagramModal" class="modal fade bd-example-modal-lg show" tabindex="-1" role="dialog" aria-hidden="true"
        aria-labelledby="myLargeModalLabel" style="text-align: center;">
        <div class="modal-dialog modal-lg" style="display: inline-block; max-width: 80%;">
            <div class="modal-content" style="max-width: 100%;"><img id="lessonDiagramImg" class="modal-image" src="/images/error.png"
                    style="max-width: 1500px;">
                <div class="modal-footer">

                    <button id="btnCloseLessonDiagram" type="button" data-toggle="modal" data-target="#lessonDiagramModal"
                        class="btn btn-primary">Close diagram</button>
                </div>
            </div>
        </div>
    </div>

    <div id="errorModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="errorModalLabel">An error occurred.</h5>
                </div>
                <img class="modal-image" src="/images/error.png" style="max-width: 150px;">
                <div id="error-modal-body" class="modal-body">
                    An error occurred.
                </div>
                <div class="modal-footer">
                    <div id="modal-body" class="modal-body" style="color: red;">Unfortunately this means we can't show
                        you this lesson right now. Please post the details of what lesson you were accessing, as well
                        as the above error message as a <a target="_blank" href="https://github.com/nre-learning/antidote/issues/new">Github
                            issue</a>. In the meantime, try
                        refreshing this page, or <a target="_blank" href="/advisor/">searching for
                            another lesson.</a></div>
                </div>
            </div>
        </div>
    </div>

    <div id="lessonVideoModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="lessonVideoModalLabel"
        aria-hidden="true" style="text-align: center;">
        <div class="modal-dialog" style="display: inline-block;  max-width: 80%;">
            <div class="modal-content">
                <div class="modal-body">
                    <iframe id="lessonVideoIframe" width="800" height="450" src="" frameborder="0" allow="autoplay; encrypted-media"
                        allowfullscreen></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="close" data-toggle="modal" data-target="#lessonVideoModal" aria-hidden="true">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-container">

        <div id="labGuideDiv" class="panel-left content resizable" style="transition: all 0s ease 0s; width: 40%;">
            <article id="labGuide" class="post" itemscope="" itemtype="http://schema.org/BlogPosting"></article>
            <a id="gotoNextStage" class="btn btn-primary btn-lg btn-block" href="#" role="button">Go to the next lab
                in this lesson!</a>
        </div>

        <div class="panel-right" style="height: 100%; width: 60%;">
            <span class="resize-warning">Use the tabs below to use this lesson's resources. Play around and explore,
                they're yours!
            </span>

            <div id="tabPane" class="bs-component" style="position: relative; overflow: hidden;">
                <ul id="tabHeaders" class="nav nav-tabs" style="position: relative;">
                    <li class="nav-item">
                        <a class="nav-link active show" data-toggle="tab" href="#start"></a>
                    </li>
                </ul>
                <div id="myTabContent" class="tab-content" style="position: absolute; height: 100%; width: 100%;">
                    <div class="tab-pane fade active show" id="start" style="height: 100%;">
                        <!-- <p>Select "request lab" to the left to start this lab</p> -->
                        <img class="imgcenter" src="https://labs.networkreliability.engineering/images/nrelabs.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<footer id="footer" class="footer">
    {% include 'partials/footer.html' %}
</footer>

</html>