{% extends "base.html" %}

{% block body %}
<antidote-lab-context>
  <div class="page lab">
    <div class="head">
      <div class="header-logo light-logo"></div>
      <antidote-lab-guidance-buttons></antidote-lab-guidance-buttons>
    </div>

    <div class="left">
      <antidote-lab-guide></antidote-lab-guide>
    </div>

    <div class="right">
      <antidote-lab-tab-switcher></antidote-lab-tab-switcher>
      <antidote-lab-tabs></antidote-lab-tabs>
      <antidote-lab-action-buttons></antidote-lab-action-buttons>
    </div>
  </div>

  <antidote-lab-loading-modal></antidote-lab-loading-modal>
</antidote-lab-context>
{% endblock %}
