{% extends "base.html" %}

{% block main %}
<h1>Interactive Lessons. Unshackled.</h1>
<h3>Learn by doing. Right now, right here, in your browser.</h3>
<p>
  Antidote is an open source initiative to bring interactive learning to
  everyone. Through short, simple exercises, all right here in the browser,
  users can learn tools, skills, and processes that will put them on the
  path to success.
</p>

<div style="margin-top: 20px;">
  <a class="btn secondary large" href="/catalog/">
    Find Lesson Content
  </a>
</div>

<antidote-advisor-context>
  <antidote-promoted-lessons></antidote-promoted-lessons>
</antidote-advisor-context>
{% endblock %}
