{% extends "base.html" %}

{% block main %}
<h1>Interactive Lessons. Unshackled.</h1>
<h3>Learn by doing. Right now, right here, in your browser.</h3>
<p>
  Antidote is an open source initiative to bring interactive learning to
  everyone. Through short, simple exercises, all right here in the browser,
  users can learn tools, skills, and processes that will put them on the
  path to success.
</p>

<div style="margin-top: 20px;">
  <a class="btn secondary large" href="/catalog/">
    Find Lesson Content
  </a>
</div>

<div class="three-col">
  <div class="canister medium-gray">
    <h3>Content promo</h3>
    <p>
      Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis
      vestibulum. Nullam quis risus eget urna mollis ornare vel eu leo.
      Donec sed odio dui.
    </p>
  </div>
  <div class="canister medium-gray">
    <h3>Content promo</h3>
    <p>
      Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis
      vestibulum. Nullam quis risus eget urna mollis ornare vel eu leo.
      Donec sed odio dui.
    </p>
  </div>
  <div class="canister medium-gray">
    <h3>Content promo</h3>
    <p>
      Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis
      vestibulum. Nullam quis risus eget urna mollis ornare vel eu leo.
      Donec sed odio dui.
    </p>
  </div>
</div>
{% endblock %}