{% extends "base.html" %}


{% block main_classes %}page course-plan{% endblock %}
{% block main %}
<antidote-course-plan-context>
  <antidote-course-plan-strength-modal></antidote-course-plan-strength-modal>
  <div class="layout">
    <div class="left">
      <h1>Your Custom Learning Plan</h1>
      <p>
        Based on the suggested prerequisites and your existing strengths, we can
        curate a custom learning path for you to get where you need to be.
      </p>

      <antidote-course-plan></antidote-course-plan>
    </div>

    <div class="right">
      <div class="canister medium-gray">
        <h3>Print my plan</h3>
        <p>
          Enter your name below and hit the button to print this page
          as a reference of the lessons that can get you where you need to be.
        </p>
        <button class="btn primary">Print now</button>
      </div>
      <div class="canister secondary">
        <h3>Didn't find your path?</h3>
        <p>
          Use our self-evaluation tool to design your personalized educational
          journey.
        </p>
        <button class="btn cta">Find my path</button>
      </div>
    </div>
  </div>
</antidote-course-plan-context>
{% endblock %}