<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'partials/header.html' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.2.0/fuse.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {

            getLessonCategories()
            renderLessonCategories()

            // Only handles text changes. See below.
            $('#searchBox').on('input', function (e) {
                searchBox(e)
            });
            // This was what I had to do to get arrow keys registered.
            // var searchBox = document.getElementById('searchBox');
            // searchBox.onkeydown = searchBox.onkeyup = searchBox.onkeypress = searchBox;

            // Reset search results when a click is made
            $('body').click(function () {
                document.getElementById('searchBox').value = ""
                searchResults = document.getElementById("searchResults")
                while (searchResults.firstChild) {
                    searchResults.removeChild(searchResults.firstChild);
                }
            });
        });
    </script>
</head>

<body>
    {% include 'partials/navbar.html' %}

    <div class="container">

        <!-- Containers
      ================================================== -->
        <div class="bs-docs-section">

            <div class="row">
                <div class="col-lg-12">
                    <div class="bs-component">
                        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                            <div class="container text-center" style="max-width: 650px;padding:  25px;border-radius: 10px;border-style:  solid;">
                                <h1 class="display-4">NRE Labs Advisor</h1>
                                <p class="lead">
                                    Get a customized learning path.
                                </p>
                                <input id="searchBox" class="form-control" style="font-size:30px;" type="text"
                                    placeholder="I want to learn..." aria-label="Search">
                                <div id="searchResults" class="list-group"></div>
                                <p style="margin:10px;">Use the box above to say what you want to learn, and we'll work with you to build a relevant learning path. Try "Python" or "StackStorm"!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr />

            <div class="text-center container">

                <h1>Lesson Catalog</h1>
                <p style="margin:10px;">Already know what lesson you're looking for? That's awesome - all lessons are linked directly below.</p>
                <div class="card-deck mb-3 text-center">

                    <div class="card mb-4 box-shadow">
                        <h3 class="card-header">Fundamentals</h3>
                        <div class="card-body" style="flex: none;">
                            <h6 style="height:70px;" class="card-subtitle text-muted">These lessons are aimed at
                                teaching the fundamental
                                technologies used needed by automation tools and NRE processes</h6>
                        </div>
                        <div class="card-body">
                            <ul id="lessonlistfundamentals" class="list-group list-group-flush">
                            </ul>
                        </div>
                    </div>
                    <div class="card mb-4 box-shadow">
                        <h3 class="card-header">Tools</h3>
                        <div class="card-body" style="flex: none;">
                            <h6 style="height:70px;" class="card-subtitle text-muted">These lessons will introduce you
                                to the specific tools
                                you're likely to use in your NRE journey.</h6>
                        </div>
                        <div class="card-body">
                            <ul id="lessonlisttools" class="list-group list-group-flush">
                            </ul>
                        </div>
                    </div>
                    <div class="card mb-4 box-shadow">
                        <h3 class="card-header">Workflows</h3>
                        <div class="card-body" style="flex: none;">
                            <h6 style="height:70px;" class="card-subtitle text-muted">These lessons will bring it all
                                together and apply
                                fundamental skills and tools experience to accomplish a specific outcome.</h6>
                        </div>
                        <div class="card-body">
                            <ul id="lessonlistworkflows" class="list-group list-group-flush">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="errorModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="errorModalLabel">An error occurred.</h5>
                        </div>
                        <img class="modal-image" src="/images/error.png" style="max-width: 150px;">
                        <div id="error-modal-body" class="modal-body">
                            An error occurred.
                        </div>
                        <div class="modal-footer">
                            <div id="modal-body" class="modal-body" style="color: red;">Unfortunately, the NRE Labs
                                Advisor seems to be having some issues. Please try again later, or post the above error
                                message as a <a target="_blank" href="https://github.com/nre-learning/antidote/issues/new">Github
                                    issue</a>.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <footer id="footer">
            {% include 'partials/footer.html' %}
        </footer>


    </div>
</body>

</html>