{% extends "base.html" %}

{% block main %}
<h1>Labs Advisor</h1>
<h3>Your Custom Learning Plan.</h3>
<p>
  Based on the suggested prerequisites and your existing strengths, we can
  curate a custom learning path for you to get where you need to be.
</p>

<antidote-advisor></antidote-advisor>

<div class="three-col">
  <div class="canister medium-gray">
    <h3>Sample path promo</h3>
    <p>
      Sample path promo
      Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis
      vestibulum. Nullam quis risus eget urna mollis ornare vel eu leo.
      Donec sed odio dui.
    </p>
  </div>
  <div class="canister medium-gray">
    <h3>Sample path promo</h3>
    <p>
      Sample path promo
      Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis
      vestibulum. Nullam quis risus eget urna mollis ornare vel eu leo.
      Donec sed odio dui.
    </p>
  </div>
  <div class="canister medium-gray">
    <h3>Sample path promo</h3>
    <p>
      Sample path promo
      Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis
      vestibulum. Nullam quis risus eget urna mollis ornare vel eu leo.
      Donec sed odio dui.
    </p>
  </div>
</div>
{% endblock %}