<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'partials/header.html' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.2.0/fuse.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            $('#videoModal').on('show.bs.modal', function () {
                $("#videoModal iframe").attr("src", "https://www.youtube.com/embed/YhbWBX71yGQ?autoplay=1&rel=0");
            });

            $("#videoModal").on('hidden.bs.modal', function (e) {
                $("#videoModal iframe").attr("src", null);
            });

            var collectionId = getCollectionId();
            if (collectionId != 0) {
                showCollectionDetails(collectionId)
            }

            

            // Only handles text changes. See below.
            $('#collectionFilter').on('input', function (e) {
                collectionsBox(e.target.value)
            });
        });
    </script>
</head>

<body>
    {% include 'partials/navbar.html' %}

    <div class="container">

        <!-- Containers
      ================================================== -->
        <link rel="stylesheet" href="/css/collections.css">
        <div class="bs-docs-section">

            <div class="row">
                <h2 id="collectionName" class="collections-header"></h2>

                <div class="container" style="padding-right: 0px;padding-left: 0px;">
                    <img id="collectionImage" src="">
                    <table class="table collections-meta-table">
                        <tbody>
                            <tr class="table-default">
                                <th scope="row">Description</th>
                                <td id="collectionDescription"></td>
                            </tr>
                            <tr class="table-default">
                                <th scope="row">Type</th>
                                <td id="collectionType"></td>
                            </tr>
                            <tr class="table-default">
                                <th scope="row">Website</th>
                                <td id="collectionWebsite"></td>
                            </tr>
                            <tr class="table-default">
                                <th scope="row">Email</th>
                                <td id="collectionEmail"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <h2 class="collections-header">Lessons</h2>
                <div class="container" style="padding-right: 0px;padding-left: 0px;">
                    <table class="table">
                        <thead>
                            <tr class="table-primary">
                                <th scope="col">Name</th>
                                <th scope="col">Description</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody id="lessonRows">
                        </tbody>
                    </table>
                </div>
            </div>
            <footer id="footer">
                <div class="row">
                    <div class="col-lg-12">

                        <p>Built by the
                            <a href="https://github.com/orgs/nre-learning/people" target="_blank">NRE Learning Team</a>
                            <p>Theme by
                                <a href="http://thomaspark.co">Thomas Park</a>. Theme code released under the
                                <a href="https://github.com/thomaspark/bootswatch/blob/master/LICENSE">MIT License</a>.
                            </p>
                            <p>The
                                <a href="https://github.com/nre-learning/antidote" target="_blank">Antidote Project</a>
                                is
                                published under Apache v2.</p>
                            <p>Sponsored by Juniper Networks, Inc. Your use of this site is governed by the <a
                                    href="https://labs.networkreliability.engineering/nrelabs_agreement.pdf"
                                    target="_blank">Terms of
                                    Use.</a></p>

                    </div>
                </div>

            </footer>
        </div>
</body>



</html>